<div class="col-5">
	<div class="border-0">
		<div class="d-flex flex-column">

				<div class="card text-bg-dark rounded-4 overflow-hidden" style="height: 110px;">
					<img data-src="/temp/img/discount-img/disc-img-01.webp" src="/assets/img/empty.png" class="card-img lazy" alt="...">
					<div class="card-img-overlay d-flex flex-column">
						<h3 class="card-title h5">супер-пупер акция! надо брать.</h3>
						<p class="card-text">* Скидка действует до 15 ноября 2022г.</p>
					</div>
				</div>

		</div>
	</div>
</div>










{#
<div class=" mt-5">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-ride="carousel" data-pause="false">
	<div class="carousel-inner">

		{% for i in 0..1 %}

		<div class="carousel-item{{ loop.first ? ' active' }} px-3">
				<div class="card text-bg-dark rounded-4 overflow-hidden" style="height: 110px;">
					<img data-src="img/discount-img/disc-img-01.webp" class="card-img lazy" alt="...">
					<div class="card-img-overlay d-flex flex-column">
						<h6 class="card-title h5">супер-пупер акция! надо брать.</h6>
						<p class="card-text">* Скидка действует до 15 ноября 2022г.</p>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</div></div>#}
