<section class="container pt-4 pb-5 mb-5 bg-pic-reg-tablet">

    <div class="d-flex  ">

        <div class="border rounded-4 px-4 py-4 bg-white bg-opacity-75 position-relative" style="width: 60%">
            <div class="d-flex align-items-center justify-content-between  mb-3">
                <h2 class="fs-6 mb-0 text-uppercase fw-bold">
                    Регистрация
                </h2>
            </div>

            {{ include(_self|replace({ "_includes/reg.html.twig" : "_form/registration.html.twig" }), {form}, with_context = false) }}

        </div>

        <div style="width:40%">
            <a href="{{ path('core:public.homepage') }}">
                <img class="w-100 d-block" src="/assets/blackdragon/img/Logo.svg" style="height: 160px;"
                     alt="Логотип компании">
            </a>
        </div>

    </div>
</section>