<div class="modal fade autotization-modal" style="--bs-modal-width: 700px;" id="autorizationModal" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content p-3 border-bottom border-5 border-primary">
			<form action="#" class="w-100">
				<div class="modal-header border-0">
					<h3 class="modal-title text-uppercase h4 fw-bold">Авторизуйтесь</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" title="Закрыть"></button>
				</div>

				<div class="modal-body">
					<div class="d-flex justify-content-between gap-3">
						<div class="w-100">
							<label for="auth-email">E-mail:</label>
							<input class="form-control rounded-4" type="email" id="auth-email" required>
						</div>
						<div class="w-100">
							<label for="password">Пароль:</label>
							<input class="form-control rounded-4" type="password" id="password" required>
						</div>
					</div>
				</div>

				<div class="modal-footer border-0 d-flex flex-grow-3">

					<ul class="d-flex gap-3 list-unstyled">
						<li>
							<a href="#" title="Регистация">Регистация</a>
						</li>
						<li>
							<a href="#" title="Забыли пароль?">Забыли пароль?</a>
						</li>
					</ul>

					<button type="submit" class="btn btn-danger btn-lg ms-auto ">Войти</button>

				</div>
			</form>
		</div>
	</div>
</div>

