{% trans_default_domain('user.order') %}


<div class="row justify-content-between fw-medium pb-4 mb-4" id='user_profile'>

    {# Тип заказа #}

    {% if form.usr.userProfile.type is defined %}

        <div class="col-6 d-flex flex-column ">

            <h3 class="fs-14 mb-4 fw-bold">Тип заказа</h3>

            <div class="d-flex justify-content-between">
                <div class="w-100 d-flex gap-3">
                    {{ form_row(form.usr.userProfile.type) }}
                </div>
            </div>

        </div>
    {% endif %}

    {% if form.usr.userProfile.value.vars.data is defined and form.usr.userProfile.value.vars.data is not empty %}

        {% set section = null %}

        <div class="col-6 d-flex flex-column ">
            {% for value in form.usr.userProfile.value %}

                {% if section != value.vars.data.section %}
                    {% set section = value.vars.data.section %}

                    {# Заголовок секции #}
                    <h3 class="fs-14 mb-4 fw-bold">
                        {{ value.vars.data.sectionName }}
                    </h3>

                {% endif %}

                {% if value.value is defined %}

                    {{ form_label(value.value, '',{'label_attr': {'class': 'form-label fs-14'}}) }}

                    {{ form_widget(value.value, {'attr': {'class': 'form-control fs-14 mb-2'}}) }}

                {% endif %}

            {% endfor %}
        </div>

    {% endif %}




</div>

<hr class="border-secondary">



