



<div class="d-flex overflow-hidden">
	<iframe class="lazy w-100"
			title="Как нас найти"
			data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A66d49ecf4c73bded62787db9afcd3a536f3ace5d6114915516430ad049027218&amp;source=constructor"
			height="170">
	</iframe>
</div>

