

				<div class="col-5">
					<div class="border-0">
						<div class="d-flex flex-column">
							<div class="col-8">
								{#<img data-src="img/card-img/shina-1.webp"
									 class="lazy img-fluid rounded-4 border border-light shadow" alt="..."
								>#}

								<span class="icon rounded-4 mb-2" style="width: 100px; height: 100px;">
									<img data-src="/temp/img/card-img/shina-1.webp" src="/assets/img/empty.png"
										 class="lazy img-fluid rounded-4"
										 alt="..."
										 width="100" height="100"
									>
								</span>
							</div>

							<div class="d-flex align-self-center mt-3">

								<div class="small lh-normal fw-bolder">
									<a href="/detail" class="text-uppercase text-decoration-none text-dark small">
											Triangle Sports TH201 195/45 R16 84W
										</a>

									<div class="d-flex align-items-stretch mt-2">
										<span class="h6">4 800 Лђ.</span>
										<small class="small text-decoration-line-through text-danger fw-bold ms-2">6 000 ла.</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
