<section class="viewed-box">
	<div class="container">

		<div class="row p-4 rounded-4 bg-light">

			<div class="col-12 pb-3">
				<h2 class="text-uppercase me-4 h5 fw-bolder">Просмотренные</h2>
			</div>

			{% for i in 0..3 %}
				<div class="col">
					<div class="border-0">
						<div class="row">

							<div class="col-4">
								<img data-src="/temp/img/card-img/shina-1.webp" src="/assets/img/empty.png"
									 class="lazy img-fluid rounded-4 border border-light shadow" alt="...">
							</div>

							<div class="col-8 d-flex align-self-center ">

								<div class="ps-1">
									<h3 class="card-title small text-uppercase fw-bold">
										Triangle Sports TH201 195/45 R16 84W
									</h3>

									<div class="d-flex align-items-stretch mt-2">
										<span class="h5">4 800 р.</span>
										<small class="small text-decoration-line-through text-danger fw-bold ms-2">6 000 Р.</small>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>
</section>