<div class="text-center">
    <a class="btn bg-primary fs-14 rounded-5 shadow px-5 py-2 fw-medium"
       href="{{ path('products-product:public.catalog.index') }}">
        <span class="px-4">Все товары</span>
    </a>
</div>