<p>Зимняя шина Triangle LS01 устанавливается в микроавтобусах, легких грузовиках и специальной технике на их базе.
	Выгодно отличается хорошей для своего класса топливной экономичностью, длительностью срока службы, надежностью
	сцепных свойств на любых скользких дорогах.
</p>
