{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

<main class="main">

    <div class='lazy mb-5 bg-cover' data-bg='/triangle/pages/mobile/about.webp'
         title='О компании'
         style='width: 100%; height: 250px;'>

    </div>

    <section id='about' class='container'>

        <h1 class="text-uppercase h5 fw-bolder mt-5">О компании</h1>


        <p>
            Наша компания осуществляет как розничные, так и оптовые продажи шин торговой марки Triangle. Имеющиеся в
            нашем распоряжении складские площади позволяют поддерживать в наличии основные типоразмеры в достаточном
            количестве, а служба логистики - своевременную доставку до наших клиентов.
        </p>

    </section>


</main>


