{# @var card \BaksDev\Products\Product\Repository\ProductDetailByValue\ProductDetailByValueResult #}

<div>
    {{ form_start(basket,
        { attr:
            { class : 'd-flex align-items-center position-relative order-basket' }
        }
    ) }}

    <div class="d-flex align-items-center justify-content-center gap-2">

        <div class='mb-3'>
            <button type="button"
                    id="minus"
                    class="btn btn-lg btn-link text-decoration-none p-0"
                    title="Отнять количество">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-dash"
                     viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                </svg>
            </button>
        </div>

        {% set default_input = card.productQuantity < card.categoryInput ? card.productQuantity : card.categoryInput %}
        {#        {% set default_input = card.product_quantity < 4 ? card.product_quantity : 4 %} #}

        {{ form_row(basket.price.total, {
            label : false,
            value: default_input,
            attr: {
                style : 'width: 60px;',
                class:  'border py-2 px-4 rounded-5 m-0 text-secondary total',
                'data-max': card.productQuantity,
                'data-min': card.categoryMinimal,
                'data-price' : ''~price,
                'data-discount' : baks_profile.profile_discount is defined ? baks_profile.profile_discount,
                'data-currency' : card.productCurrency
            }
        }) }}

        <div class='mb-3'>
            <button type='button'
                    id="plus"
                    class="btn btn-lg btn-link text-decoration-none p-0"
                    title="Добавить количество">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-plus"
                     viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>

            </button>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn bg-primary py-2 fw-bold rounded-3 w-100 mb-4">
                <span class="basket-text">В корзину</span>
                <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
            </button>
        </div>

    </div>



    {{ form_end(basket) }}

</div>





