{#{{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }}#}

<main class="main">
	
	<div class='lazy mb-5 bg-cover' data-bg='/triangle/pages/mobile/wholesale.webp'
			title='Гарантия'
			style='width: 100%; height: 250px;'>
		
	</div>
	
	<section id='wholesale' class='container'>
		
		<h1 class="text-uppercase h5 fw-bolder">Оптовое предложение</h1>
		
		
		<p>Для торгующих организаций, розничных магазинов и интернет-магазинов действуют индвидиуальные условия и
		   специальные цены на всю продукцию Triangle Group.</p>
		
		<p>Для получения дополнительной информации, Вы можете связаться с
		   сотрудниками компании удобным для Вас способом.</p>
	
	
	</section>



</main>


