<div class="w-100">
	<div class="card text-bg-dark rounded-4 overflow-hidden" style="height: 110px;">
		<img data-src="/temp/img/discount-img/disc-img-01.webp" src="/assets/img/empty.png" class="card-img lazy" alt="...">
		<div class="card-img-overlay d-flex flex-column">
			<h3 class="card-title h5">супер-пупер акция! надо брать.</h3>
			<p class="card-text">* Скидка действует до 15 ноября 2022г.</p>
		</div>
	</div>
</div>