{# @var card \BaksDev\Products\Product\Repository\Cards\ProductCardResultInterface #}

<main class="main ">

    <section id="favorites " class="container py-5">
        {{ include(_self|replace({ "content.html.twig": "includes/breadcrumb.html.twig" })) }}

        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h4 text-uppercase fw-bolder py-2">Избранное</h1>
        </div>

        {% if query is not empty %}
            <div class="row row-cols-5 g-2">
                {% for card in query %}
                    {% include Template('@products-product/public/'~baks_settings.device~'/card_product.html.twig') with {product: card, forms} only %}
                {% endfor %}
            </div>
        {% else %}
            <p>Список избранного пуст</p>
        {% endif %}
    </section>

</main>