<h3 class="mb-3 h6">Наша компания осуществляет как розничные,
	так и оптовые продажи шин торговой марки Triangle.</h3>


<div class="about__block-text mb-3">
	<p class="mb-3">Имеющиеся в нашем распоряжении складские площади
		позволяют поддерживать в наличии основные типоразмеры
		в достаточном количестве, а служба логистики -
		своевременную доставку до наших клиентов.</p>
	<p class="mb-3"><strong>Обращаем внимание, что для розничных
		клиентов самовывоза нет.</strong></p>
	<p>Если Вы хотите приобрести шины в розницу, то Вы можете
		воспользоваться услугами <a href="#" class="text-primary text-decoration-underline">курьерской
			доставки.</a>
	</p>
</div>

<div class="d-flex align-items-center justify-content-between mb-3">

	<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
		 class="bi bi-geo-alt-fill text-danger" viewBox="0 0 16 16">
		<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
	</svg>

	<a href="#" class="ps-2">Московская область, г. Дзержинский, Денисьевский проезд, дом 17, стр. 1
		Охрана выдает разовый пропуск.
	</a>
</div>