{% trans_default_domain('user.order') %}


<div class="row justify-content-between fw-medium pb-2 mb-2">

    {# Тип заказа #}
    {% if form.usr.userProfile.type is defined %}
        <div class="col-6 d-flex flex-column">

            <h3 class="fs-6 mb-4 fw-bold">Тип заказа</h3>

            <div class="d-flex justify-content-between">
                <div class="w-100 d-flex gap-3">
                    {{ form_row(form.usr.userProfile.type) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.usr.userProfile.value.vars.data is defined and form.usr.userProfile.value.vars.data is not empty %}

        <div id='user_profile' class="col-6 d-flex flex-column">

            {% set section = null %}

            {% for value in form.usr.userProfile.value %}

                {# Название секции #}
                {% if section != value.vars.data.section %}

                    {% set section = value.vars.data.section %}

                    <div class="card-header border-light bg-body">
                        <div class="card-title">
                            <h5 class="fs-6 mb-4 fw-bold">
                                {{ value.vars.data.sectionName }}
                            </h5>
                        </div>
                    </div>

                {% endif %}

                {# Поля секции (Имя, Телефон, E-mail) #}
                {% if value.value is  defined %}
                    {{ form_label(value.value, null, { 'label_attr': { 'class' : 'form-label' }}) }}

                    {{ form_widget(value.value, { 'attr': { 'class' : 'form-control w-100 mb-1' }} ) }}
                {% endif %}

            {% endfor %}

        </div>

    {% endif %}




</div>

<hr class="border-secondary">



