{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

<main class="main">

	<section id="product-filter" class="selection-box container my-4">
		{{ include(_self|replace({ "content.html.twig": "filter.html.twig" })) }}
	</section>

	<section class="cards-box">
		<div class="container">

			{# <div class="d-flex  mt-3">
				<h2 class="text-uppercase h5 fw-bolder py-4 me-3">Каталог</h2>
				<div class="d-flex align-items-center">
					<div class="small mb-1">
						<a href="#" class="px-1">Все шины</a>
					</div>
				</div>
			</div> #}

			<div class="d-flex gap-4 small justify-content-between align-items-end my-4">
				<h1 class="text-uppercase h4 fw-bolder mb-0">Каталог</h1>



				{#<button type="button" class="btn btn-link btn-sm p-0 dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">
					<span class="small">Цене</span>
				</button>#}


				<select id="sort" name="sort"
						class="form-select btn btn-sm btn-outline-light text-dark small shadow-sm text-muted rounded-3 pt-0 ps-1 pe-3">
					<option value="3" selected>Популярности</option>
					<option value="0">Дешевые</option>
					<option value="1">Дорогие</option>
					<option value="2">Скидке</option>

					<option value="4">Обновлению</option>
					<option value="5">Отзывам</option>

				</select>

				{#<button class="btn btn-sm btn-outline-light text-dark text-decoration-underline small shadow-sm text-muted rounded-3 pt-0 dropdown-toggle"
						data-bs-toggle="dropdown"
						aria-expanded="false"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						 class="bi bi-x me-1" viewBox="0 0 16 16">
						<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
					</svg>
					<span class="small">Цене</span>
				</button>#}

				{#<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Дешевые</a></li>
					<li><a class="dropdown-item" href="#">Дорогие</a></li>
					<li><a class="dropdown-item" href="#">Скидке</a></li>
					<li><a class="dropdown-item" href="#">Популярности</a></li>
					<li><a class="dropdown-item" href="#">Обновлению</a></li>
					<li><a class="dropdown-item" href="#">Отзывам</a></li>

				</ul>#}

				{# <a href="#" class="btn btn-link btn-sm p-0"><span class="small">Скидке</span></a>
				<a href="#" class="btn btn-link btn-sm p-0"><span class="small">Популярности</span></a>
				<a href="#" class="btn btn-link btn-sm p-0"><span class="small">Обновлению</span></a>
				<a href="#" class="btn btn-link btn-sm p-0"><span class="small">Отзывам</span></a> #}


			</div>

			<div class="cards-box-body d-flex flex-wrap">
				{% for i in 0..7 %}
					<div class="col-6">
						{% include('@Template/default/user/mobile/includes/card.html.twig') %}
					</div>
				{% endfor %}


				<button class="btn btn-primary w-100 rounded-3 text-uppercase fw-bolder my-2"
						aria-label="Показать еще"
				>
					Показать еще
				</button>
			</div>


		</div>
	</section>




	{# ПРОСМОТРЕННЫЕ #}
	<section id="viewed" class="mt-4 bg-light">
		<div class="col-12 p-4">
			<h2 class="text-uppercase me-4 h5 fw-bolder">Просмотренные</h2>
		</div>

		<div class="d-flex flex-nowrap gap-4 overflow-auto w-100 px-4 pb-3">
			{% for i in 0..5 %}
				{#{{ include(_self|replace({ "content.html.twig": "viewed.html.twig" })) }}#}
				{% include('@Template/default/user/mobile/includes/viewed.html.twig') %}
			{% endfor %}
		</div>
	</section>


	{# ЛИДЕРЫ ПРОДАЖ #}
	<div class="container mt-4">

		<div class="px-2">
			<h2 class="text-uppercase h5 fw-bolder">Лидеры продаж</h2>
		</div>

		<div class="bg-light rounded-4 px-2 py-1 mt-4">
			{% include('@Template/default/user/mobile/includes/leader.html.twig') %}

		</div>
	</div>


	{# АКЦИИ \ СКИДКИ #}
	<section id="action" class="mt-4 shadow">

		<div class="d-flex flex-nowrap gap-3 overflow-auto w-100 p-3">
			{% for i in 0..5 %}
				{% include('@Template/default/user/mobile/includes/action.html.twig') %}
			{% endfor %}
		</div>

	</section>


	<section id="desc" class="container my-4">

		<div class="py-3">
			<h3 class="text-uppercase h5 fw-bolder">Заголовок</h3>
		</div>

		<p>Товарищи! Начало повседневной работы по формированию позиции представляет собой интересный эксперимент
			проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт
			постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения
			направлений прогрессивного развития. Не следует, однако забывать, что дальнейшее развитие различных форм
			деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных
			условий. Равным образом новая модель организационной деятельности в значительной степени обуславливает
			создание систем массового участия. Идейные соображения высшего порядка, а также сложившаяся структура
			организации в значительной степени обуславливает создание модели развития. Значимость этих проблем настолько
			очевидна, что консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в
			отношении поставленных задач.
		</p>
		<p>Равным образом дальнейшее развитие различных форм деятельности играет важную роль в формировании позиций,
			занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное
			информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и
			модернизации систем массового участия. Не следует, однако забывать, что постоянное
			информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации
			существенных финансовых и административных условий.
		</p>
		<p>Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
			участие в формировании модели развития. Не следует, однако забывать, что консультация с широким активом
			представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным
			потребностям. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент
			проверки форм развития. Разнообразный и богатый опыт сложившаяся структура организации способствует
			подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Товарищи!
			Сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании
			направлений прогрессивного развития. Повседневная практика показывает, что сложившаяся структура организации
			играет важную роль в формировании форм развития.
		</p>
	</section>




</main>




