<section class="container pt-3 pb-4"
         style="background: no-repeat top right / contain url(/assets/blackdragon/img/AboutBg.png);">
    <h2 class="fs-6 text-uppercase fw-bold mb-3">
        о компании
    </h2>
    <p class="fs-12 ">
        Наша компания осуществляет как розничные, так и оптовые продажи шин торговой марки Triangle. Имеющиеся в нашем
        распоряжении складские площади позволяют поддерживать в наличии основные типоразмеры в достаточном количестве, а
        служба логистики - своевременную доставку до наших клиентов.
    </p>
    <p class="fs-12 mb-4">
        Обращаем внимаение, что для розничных клиентов самовывоза нет. Если Вы хотите приобрести шины в розницу, то Вы
        можете воспользоваться услугами курьерской
        доставки
    </p>
    <div class="d-flex align-items-center gap-2" style="">
        <img src="/assets/blackdragon/img/phone.svg" class="d-block" style="height: 25px;" alt="Иконка телефона">
        <a class="text-decoration-none text-black fw-bolder text-nowrap lh-1" style="font-size: 16px;"
           href="tel:+7(000)000-00-00">
            +7 000 000 00 00
        </a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <img src="/assets/blackdragon/img/phone.svg" class="d-block opacity-0" style="height: 25px;"
             alt="Иконка телефона">
        <span class="lh-1 fs-11">
            Ежедневно с 10.00 до 22.00
        </span>
    </div>


</section>