<hr class="m-0">
<main>
    {{ include(_self|replace({ "content.html.twig" : "_includes/breadcrumb.html.twig" })) }}

    {{ include(_self|replace({ "content.html.twig" : "_includes/reg.html.twig" })) }}

</main>


