{% trans_default_domain 'search' %}

<div class="row row-cols-2 g-2">

    {% if result %}
        {% for product in result %}

            {% include Template('@products-product/public/' ~baks_settings.device~ '/card_product.html.twig') with {product} only %}

        {% endfor %}
    {% else %}
        <div class="no-content">{{ 'search_results.noresults'|trans }}</div>
    {% endif %}
</div>