



<div class="d-flex overflow-hidden">
	<iframe class="lazy w-100"
			title="Как нас найти"
			data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae128f5f5f2ef650158052a875ac071699b0e217253e7f6e319757cb4d1d95452&source=constructor"
			height="170">
	</iframe>
</div>

