<div class="p-3 rounded-4 bg-light d-flex flex-column justify-content-between align-items-center small gap-3">

	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Управление на мокрой дороге
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span>
		</div>
	</div>

	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Управление на снегу
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-danger border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Управление на льду
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Курсовая устойчивость
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span class="btn btn-success border-white"></span><span
					class="btn btn-success border-white"></span><span class="btn btn-success border-white"></span><span
					class="btn btn-success border-white"></span><span class="btn btn-success border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Комфорт при движении
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span class="btn btn-success border-white"></span><span
					class="btn btn-success border-white"></span><span class="btn btn-success border-white"></span><span
					class="btn btn-success border-white"></span><span class="btn btn-success border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Бесшумность в движении
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span class="btn btn-warning border-white"></span><span
					class="btn btn-warning border-white"></span><span class="btn btn-warning border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Эффективность торможения
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-orange border-white"></span><span class="btn btn-orange border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Стойкость к аквапланированию
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-danger border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Скоростные характеристики
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-danger border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Износоустойчивость
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-orange border-white"></span><span class="btn btn-orange border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>
	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Качество изготовления
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span class="btn btn-warning border-white"></span><span
					class="btn btn-warning border-white"></span><span class="btn btn-warning border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>

	<div class="w-100 small d-flex align-items-baseline gap-2">
		<div class="w-100">
			Оправданность цены
		</div>
		<div class="btn-group btn-group-sm border-3 d-flex justify-content-between w-50 mt-1" role="group"
			 aria-label="Basic outlined example" style="height: 1px;"><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-success opacity-75 border-white"></span><span
					class="btn btn-secondary opacity-50 border-white"></span></div>
	</div>

	<div class="w-100 fw-bolder">
		<hr>
		Оценка: <span class="badge bg-success rounded-2 ms-2" style="--bs-badge-font-size: 1rem;">5.0</span>
	</div>



</div>