{# Страница с катаолигом по конкретной моделе #}

<main>
    {% include _self|replace({ "content.html.twig" : "_includes/breadcrumb.html.twig" }) %}

    {% include _self|replace({ "content.html.twig" : "_includes/brand.html.twig" }) %}

{#    {{ render_products_viewed() }}#}

</main>