{# для запроса AJAX #}

{% set modal = true %}

{# Регистрация #}

{# <div class="modal-dialog modal-dialog-centered justify-content-center"> #}

{#    <div class="modal-content px-5 py-4 border-0 rounded-4" style="width:600px;"> #}

{#        <div class="modal-header gap-3 border-0 px-0 mb-3"> #}
{#            <svg class="bi bi-person" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="lightblue" #}
{#                 viewbox="0 0 16 16"> #}
{#                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path> #}
{#            </svg> #}
{#            <h2 class="mb-0 fs-24" id="exampleModalToggleLabel2">Регистрация</h2> #}
{#            <button class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" type="button"></button> #}
{#        </div> #}

{#        {{ include(_self|replace({ "content.html.twig" : (baks_settings.device)~"/form/reg.html.twig" }), {form, modal}, with_context = false) }} #}

{#    </div> #}
{# </div> #}

{{ include(_self|replace({ "content.html.twig" : (baks_settings.device)~"/modal-content.html.twig" }), {form, modal}, with_context = false) }}




