{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

<main class="main">

    <div class="container">

        О компании


        <p>
            Наша компания осуществляет как розничные, так и оптовые продажи шин торговой марки Triangle. Имеющиеся в
            нашем распоряжении складские площади позволяют поддерживать в наличии основные типоразмеры в достаточном
            количестве, а служба логистики - своевременную доставку до наших клиентов.
        </p>
    </div>


</main>


