 <div class="mb-5">
      <h2 class="text-center fs-6 fw-bold mb-4" style="letter-spacing: 1.5px;">
        СТОИМОСТЬ ШИНОМОНТАЖНЫХ УСЛУГ
      </h2>
      <div>
        <div  class="overflow-x-auto">
          <table class="table table-borderless text-center ">
            <thead>
              <tr>
                <th scope="col" class="text-start text-primary">ДИАМЕТР&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
                <th scope="col">R15</th>
                <th scope="col">R16</th>
                <th scope="col">R17</th>
                <th scope="col">R18</th>
                <th scope="col">R19</th>
                <th scope="col">R20</th>
                <th scope="col">R21</th>
                <th scope="col">R22</th>
                <th scope="col">R23</th>
              </tr>
            </thead>
            <tbody class="border-3 border-dark border-top border-bottom-0 border-start-0 border-end-0 ">
              <tr>
                <th scope="row" class="text-start">СЕДАН</th>
                <td>3000</td>
                <td>3200</td>
                <td>3600</td>
                <td>4000</td>
                <td>4400</td>
                <td>5200</td>
                <td>5600</td>
                <td>6000</td>
                <td>6000</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start pb-4">КРОССОВЕР/<br>ВНЕДОРОЖНИК</th>
                <td>3400</td>
                <td>3600</td>
                <td>3800</td>
                <td>4400</td>
                <td>4800</td>
                <td>5600</td>
                <td>6000</td>
                <td>6400</td>
                <td>6400</td>
              </tr>
            </tbody>
           </table>
        </div>
         <div  class="overflow-x-auto">
           <table class="table table-borderless text-center ">
              <thead>
                <tr>
                  <th scope="col" class="text-start text-primary">СЕДАН&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
                  <th scope="col">R15</th>
                  <th scope="col">R16</th>
                  <th scope="col">R17</th>
                  <th scope="col">R18</th>
                  <th scope="col">R19</th>
                  <th scope="col">R20</th>
                  <th scope="col">R21</th>
                  <th scope="col">R22</th>
                  <th scope="col">R23</th>
                </tr>
              </thead>
              <tbody class="border-3 border-dark border-top border-bottom-0 border-start-0 border-end-0">
                <tr>
                  <th scope="row" class="text-start">Снять/поставить</th>
                  <td>200</td>
                  <td>230</td>
                  <td>270</td>
                  <td>300</td>
                  <td>320</td>
                  <td>390</td>
                  <td>420</td>
                  <td>440</td>
                  <td>500</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Монтаж</th>
                  <td>250</td>
                  <td>270</td>
                  <td>310</td>
                  <td>340</td>
                  <td>350</td>
                  <td>420</td>
                  <td>470</td>
                  <td>500</td>
                  <td>700</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Балансировка</th>
                  <td>300</td>
                  <td>300</td>
                  <td>320</td>
                  <td>360</td>
                  <td>430</td>
                  <td>490</td>
                  <td>510</td>
                  <td>560</td>
                  <td>800</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start  pb-4">Цена за 1 шт.</th>
                  <td>750</td>
                  <td>800</td>
                  <td>900</td>
                  <td>1000</td>
                  <td>1100</td>
                  <td>1300</td>
                  <td>1400</td>
                  <td>1500</td>
                  <td>2000</td>
                </tr>
              </tbody>
              </table>
            </div>
            <div  class="overflow-x-auto">
              <table class="table table-borderless text-center ">
              <thead>
                <tr class="align-middle">
                  <th scope="col" class="text-start text-primary">КРОССОВЕР/<br>ВНЕДОРОЖНИК</th>
                  <th scope="col">R15</th>
                  <th scope="col">R16</th>
                  <th scope="col">R17</th>
                  <th scope="col">R18</th>
                  <th scope="col">R19</th>
                  <th scope="col">R20</th>
                  <th scope="col">R21</th>
                  <th scope="col">R22</th>
                  <th scope="col">R23</th>
                </tr>
              </thead>
              <tbody class="border-3 border-dark border-top border-bottom-0 border-start-0 border-end-0">
                <tr>
                  <th scope="row" class="text-start">Снять/поставить</th>
                  <td>240</td>
                  <td>260</td>
                  <td>300</td>
                  <td>340</td>
                  <td>360</td>
                  <td>420</td>
                  <td>440</td>
                  <td>480</td>
                  <td>500</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Монтаж</th>
                  <td>290</td>
                  <td>310</td>
                  <td>320</td>
                  <td>360</td>
                  <td>400</td>
                  <td>460</td>
                  <td>500</td>
                  <td>540</td>
                  <td>890</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Балансировка</th>
                  <td>320</td>
                  <td>330</td>
                  <td>330</td>
                  <td>400</td>
                  <td>440</td>
                  <td>520</td>
                  <td>560</td>
                  <td>580</td>
                  <td>930</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Цена за 1 шт.</th>
                  <td>850</td>
                  <td>900</td>
                  <td>950</td>
                  <td>1100</td>
                  <td>1200</td>
                  <td>1400</td>
                  <td>1500</td>
                  <td>1600</td>
                  <td>2500</td>
                </tr>
              </tbody>
              </table>
            </div>
      </div>

      <div class="fw-medium  text-center bg-primary bg-opacity-50 rounded-5 px-2 py-2 mb-3">
        <p class="mb-1">Cтоимость низкопрофильной резины RunFlat добавляет + 10% от стоимости монтажа</p>
      </div>

      <h3 class="fs-6 fw-bold" style="letter-spacing: 1.5px;">
            ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
      </h3>
      <div class="row row-cols-1">
        
        <div class="col  mb-2">
          <table class="table table-borderless text-center  ">
            <tbody>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0 ">Доплата за работу <br> с низким профилем (&lt;50%) <br> и усиленным бортом <br> (RunFlat, RFT)</th>
                <td class="pt-0">+ 20% от стоимости <br> комплекса <br> шиномонтажа</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Доплата за балансировку <br> грязевой резины</th>
                <td>+ 300 руб./шт.</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Чистка бортов диска</th>
                <td>100 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Герметизация <br> бортов диска</th>
                <td>150 руб.</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Замена вентиля</th>
                <td>100 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Глубокая шлифовка <br> бортов диска</th>
                <td>300 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal ps-0">Оптимизация <br> дисбаланса</th>
                <td >+ 50% от стоимости <br> монтажа</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Обработка резьбовых <br> соединений</th>
                <td class="pt-0">50 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Чистка посадочного<br> места</th>
                <td>50 руб.</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Чернение резины</th>
                <td>100 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Удаление остатков <br> двухстороннего скотча <br> (от старых, самоклеющихся <br> грузов)</th>
                <td>150 руб.</td>
              </tr>
              <tr class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Утилизация покрышек</th>
                <td>150 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Удаление секреток и <br> деформированных крепежей</th>
                <td>от 1000 руб.</td>
              </tr>
              <tr  class="align-middle">
                <th scope="row" class="text-start fw-normal  ps-0">Установка датчика <br> давления</th>
                <td>300 руб.</td>
              </tr>
            </tbody>
          </table>
        </div>
       
        <div class="col-12">
           <h3 class="text-center fs-6 fw-bold " style="letter-spacing: 1.5px;">
            СТОИМОСТЬ СЕЗОННОГО ХРАНЕНИЯ ШИН*
          </h3>
          <table class="table table-borderless text-center mb-1">
            <tbody>
              <tr class="table-primary">
                <th scope="row" class="radius">R13</th>
                <td>3 500</td>
              </tr>
              <tr >
                <th scope="row" class="radius">R14</th>
                <td>3 500</td>
              </tr>
              <tr class="table-primary">
                <th scope="row" class="radius">R15</th>
                <td>3 500</td>
              </tr>
              <tr >
                <th scope="row" class="radius">R16</th>
                <td>3 500</td>
              </tr>
              <tr class="table-primary">
                <th scope="row" class="radius">R17</th>
                <td>4 500</td>
              </tr>
              <tr >
                <th scope="row" class="radius">R18</th>
                <td>4 500</td>
              </tr>
              <tr class="table-primary">
                <th scope="row" class="radius">R19</th>
                <td>4 500</td>
              </tr>
              <tr >
                <th scope="row" class="radius">R20</th>
                <td>5 000</td>
              </tr>
              <tr class="table-primary">
                <th scope="row" class="radius">R21</th>
                <td>5 000</td>
              </tr>
              <tr >
                <th scope="row" class="radius">R22</th>
                <td>5 000</td>
              </tr>
            </tbody>
          </table>
          <p class="text-center fw-medium small">
            * При хранении шин на дисках + 1 000 руб. к стоимости
          </p>
        </div>
      </div>
    </div>