<nav class="small" style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
    <ol class="breadcrumb m-0" style="font-size: 12px;">
        <li class="breadcrumb-item">
            <a class="text-secondary text-decoration-none" href="{{ path('core:user.homepage') }}">
                Главная
            </a>
        </li>

        <li class="breadcrumb-item active"
            aria-current="page"
            title="Избранное">
            Избранное
        </li>

    </ol>
</nav>
